# Client 


# dependencies
client/node_modules
client/.pnp
client/.pnp.js

client/# testing
client/coverage

client/# next.js
client/.next/
client/out/

client/# production
client/build

client/# misc
client/.DS_Store

client/# debug
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*

client/# local env files
client/.env.local
client/.env.development.local
client/.env.test.local
client/.env.production.local
client/.env

# WordPress

# Arquivos gerados pelo WordPress
CMS/wp-content/uploads/
CMS/wp-content/plugins/
CMS/wp-content/themes/
CMS/db-data
CMS/wp-data

# Arquivos de configuração locais do WordPress
CMS/wp-config.php

# Arquivos de cache do WordPress
CMS/wp-content/cache/
CMS/wp-content/upgrade/